# Coleta de Obras e exposições do Leonilson, na [Enciclopédia Itaú Cultural](https://enciclopedia.itaucultural.org.br/pessoa8742/leonilson/) 




LEONILSON. In: ENCICLOPÉDIA Itaú Cultural de Arte e Cultura Brasileira. São Paulo: Itaú Cultural, 2022. Disponível em: http://enciclopedia.itaucultural.org.br/pessoa8742/leonilson. Acesso em: 03 de março de 2022. Verbete da Enciclopédia.
ISBN: 978-85-7979-060-7

Imports:

In [1]:
from urllib.error import HTTPError
from urllib.error import URLError
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd

## Obras

In [2]:
obras = []

for i in range(1,5):
  url = f'https://enciclopedia.itaucultural.org.br/pessoa8742/leonilson/obras?p={i}'
  page_info=urlopen(url)
  soup = BeautifulSoup(page_info, 'html.parser')
  data = soup.find('div', "container articles-wrap p-0")
  children = data.findChildren("article" , recursive=False)
  print(f'página: {i}, obras coletadas: {len(children)}')
  for c in children:
    img = 'https://'+c.findChildren("img",'')[0].attrs['src'].replace('//','')
    elm = c.findChildren("h2",'border-top-3 pt-1')[0].findChildren('a','')[0]
    title = elm.text
    url = 'https://enciclopedia.itaucultural.org.br/'+elm.attrs['href']
    # year = c.findChildren("strong",'')[0].text
    year, info = c.findChildren("div",'detail-info')[0].text.replace('        ','').split('\n')[1:3]
    obras.append({'img_url':img, 'title':title, 'year':year, 'info':info,'url':url})

print(f'Total coletado: {len(obras)}')

página: 1, obras coletadas: 18
página: 2, obras coletadas: 18
página: 3, obras coletadas: 18
página: 4, obras coletadas: 5
Total coletado: 59

In [3]:
dataframe_obras = pd.DataFrame(obras)
dataframe_obras

,img_url,title,year,info,url
0,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,A Consequência do Sonho,1987,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
1,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,As Fadas,1992,Tinta preta a pena sobre papel,https://enciclopedia.itaucultural.org.br//obra...
2,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,As Montanhas ao Longe,1989,Aquarela e nanquim sobre papel,https://enciclopedia.itaucultural.org.br//obra...
3,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Cada Delícia Tem Seu Preço,1988,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
4,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Chapéus,1983,Acrílica sobre tecido listrado,https://enciclopedia.itaucultural.org.br//obra...
5,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,"Cheio, Vazio",1993,Bordado sobre voile e tecido de algodão,https://enciclopedia.itaucultural.org.br//obra...
6,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Converso no Seio de Cristo,1993,Nanquim sobre papel,https://enciclopedia.itaucultural.org.br//obra...
7,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,El Desierto,1991,Bordado sobre feltro,https://enciclopedia.itaucultural.org.br//obra...
8,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,El Puerto,1992,Bordado sobre tecido de algodão e espelho emol...,https://enciclopedia.itaucultural.org.br//obra...
9,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Estádio,1983,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
10,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Homem com Fogo nas Mãos,1990,Acrílico sobre lona,https://enciclopedia.itaucultural.org.br//obra...
11,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Instalação Capela do Morumbi,1993,Bordado sobre tecido de algodão e sobre camisa...,https://enciclopedia.itaucultural.org.br//obra...
12,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,J.L.B.D.,1993,Bordado sobre veludo,https://enciclopedia.itaucultural.org.br//obra...
13,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Jesus com Rapaz Acidentado,1991,Tinta preta a pena sobre papel,https://enciclopedia.itaucultural.org.br//obra...
14,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Jogos Perigosos,1990,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
15,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,José,1991,Bordado em linha preta sobre voile,https://enciclopedia.itaucultural.org.br//obra...
16,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Las ILusiones,1991,Nanquim sobre papel,https://enciclopedia.itaucultural.org.br//obra...
17,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Leo Não Consegue Mudar o Mundo,1989,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
18,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Les Moments,1992,Bordado sobre feltro,https://enciclopedia.itaucultural.org.br//obra...
19,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Lisiantros,1992,Tinta preta a pena sobre papel,https://enciclopedia.itaucultural.org.br//obra...
20,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Longo Caminho de um Rapaz Apaixonado,1989,Tinta preta e ecoline sobre papel,https://enciclopedia.itaucultural.org.br//obra...
21,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Mar do Japão,1990,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
22,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,"Na Neblina, o Bom Piloto",1982,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
23,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,O Homem Certo com o Molde Certo,Nanquim e aquarela sobre papel,,https://enciclopedia.itaucultural.org.br//obra...
24,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,O Ilha,1990,Bordado sobre tela com aplicação de metal,https://enciclopedia.itaucultural.org.br//obra...
25,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,O Mentiroso,1992,Bordado sobre sacola em tecido,https://enciclopedia.itaucultural.org.br//obra...
26,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,O Perigoso,1992,Tinta preta a pena sobre papel,https://enciclopedia.itaucultural.org.br//obra...
27,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,O Pescador de palavras,1986,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
28,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,"O que nos une, o que nos separa",1990,Guache e nanquim sobre papel,https://enciclopedia.itaucultural.org.br//obra...
29,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,"O que você desejar, o que você quiser, eu esto...",1990,Costura e bordado sobre voile e cabide de cobre,https://enciclopedia.itaucultural.org.br//obra...
30,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,"O Recruta, o Aranha, o Penélope",1992,Bordado sobre feltro,https://enciclopedia.itaucultural.org.br//obra...
31,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,O Transatlântico,1990,Acrílica e lápis sobre lona,https://enciclopedia.itaucultural.org.br//obra...
32,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Objetos de Marte,1987,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
33,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Os Pensamentos do Coração,1988,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
34,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Os Rios por meu fluido entrego meu coração,1991,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
35,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Pequeno Reino,1988,Acrílica e tinta preta a pena sobre papel cola...,https://enciclopedia.itaucultural.org.br//obra...
36,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,"Possibilidade, Importância, Atitude",1989,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
37,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Provas de Amor,1991,Bordado sobre talagarça e voile,https://enciclopedia.itaucultural.org.br//obra...
38,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Quelle,1989,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
39,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Quem Morre Comigo,1983,Acrílica sobre napa,https://enciclopedia.itaucultural.org.br//obra...
40,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Rapaz com a Cabeça Londe Demais para Pensar,1989,Esferográfica e lápis de cor sobre papel,https://enciclopedia.itaucultural.org.br//obra...
41,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Redemoinhos,1985,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
42,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Rios de Palavras,1987,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
43,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,São Tantas as Verdades,1988,"Acrílica, pedras semi preciosas bordadas e fio...",https://enciclopedia.itaucultural.org.br//obra...
44,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1990,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
45,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1987,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
46,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1983,Guache sobre papel,https://enciclopedia.itaucultural.org.br//obra...
47,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1983,Guache sobre papel,https://enciclopedia.itaucultural.org.br//obra...
48,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1983,Guache sobre papel,https://enciclopedia.itaucultural.org.br//obra...
49,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1983,Acrílica sobre tecido,https://enciclopedia.itaucultural.org.br//obra...
50,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1983,Guache sobre papel,https://enciclopedia.itaucultural.org.br//obra...
51,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1985,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
52,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1987,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
53,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1983,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
54,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1983,Acrílica e óleo sobre tela,https://enciclopedia.itaucultural.org.br//obra...
55,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sem Título,1987,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
56,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Shy,1990,Tinta preta a pena e tinta metálica sobre papel,https://enciclopedia.itaucultural.org.br//obra...
57,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Sob o Peso dos Meus Amores,1990,Tinta preta e aquarela sobre papel,https://enciclopedia.itaucultural.org.br//obra...
58,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Todos os Rios,1989,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...

In [4]:
dataframe_obras.iloc[23]['info'] = 'Nanquim e aquarela sobre papel'
dataframe_obras.iloc[23]['year'] = ''

# dataframe_obras
dataframe_obras.to_csv('obras_Leonilson.csv')

In [5]:
dataframe_obras.isna().value_counts()

img_url  title  year   info   url
False    False  False  False  False    59
dtype: int64

## Exposições

In [6]:
exposicoes = []

for i in range(1,16):
  url = f'https://enciclopedia.itaucultural.org.br/pessoa8742/leonilson/eventos?classificacao=exposicao&p={i}'
  page_info=urlopen(url)
  soup = BeautifulSoup(page_info, 'html.parser')
  data = soup.find('div', "container articles-wrap p-0")
  children = data.findChildren("article" , recursive=False)
  print(f'página: {i}, obras coletadas: {len(children)}')

  for c in children:
    elm = c.findChildren("h2",'border-top-3 pt-1')[0].findChildren('a','')[0]
    title = elm.text
    url = 'https://enciclopedia.itaucultural.org.br' + elm.attrs['href']


    page_detail =urlopen(url)
    soup_detail = BeautifulSoup(page_detail, 'html.parser')
    info_detail = soup_detail.find('div', "mb-1").text.split('\n')
    data_detail = info_detail[1]
    split2 = info_detail[2].replace('            ','').split('–')
    # cidade, local = 
    cidade_detail = split2[0]
    local_detail = ''
    if len(split2)>1:
      local_detail = split2[1]

    tipo_evento = soup_detail.find('aside' '').findChildren("li" , recursive=True)[3].text
    
    date = c.findChildren("strong",'')[0].text.replace('.','/')
    exposicoes.append({'title':title, 'date':date,'url':url,'data_page_datail':data_detail, 'cidade':cidade_detail,'local':local_detail,'tipo_evento':tipo_evento})


print(f'Total coletado: {len(exposicoes)}')

página: 1, obras coletadas: 18
página: 2, obras coletadas: 18
página: 3, obras coletadas: 18
página: 4, obras coletadas: 18
página: 5, obras coletadas: 18
página: 6, obras coletadas: 18
página: 7, obras coletadas: 18
página: 8, obras coletadas: 18
página: 9, obras coletadas: 18
página: 10, obras coletadas: 18
página: 11, obras coletadas: 18
página: 12, obras coletadas: 18
página: 13, obras coletadas: 18
página: 14, obras coletadas: 18
página: 15, obras coletadas: 15
Total coletado: 267

In [7]:
dataframe_exp = pd.DataFrame(exposicoes)
dataframe_exp

,title,date,url,data_page_datail,cidade,local,tipo_evento
0,Desenho Jovem,08/07/1980,https://enciclopedia.itaucultural.org.br/event...,08.07.1980,Brasil / São Paulo / São Paulo,Museu de Arte Contemporânea da Universidade d...,Coletiva
1,12º Panorama de Arte Atual Brasileira,13/11/1980,https://enciclopedia.itaucultural.org.br/event...,13.11.1980 - 01.1981,Brasil / São Paulo / São Paulo,Museu de Arte Moderna de São Paulo (MAM/SP),Exposição
2,Leonilson e Luiz Zerbini,1980,https://enciclopedia.itaucultural.org.br/event...,1980,Brasil / São Paulo / São Paulo,"Teatro Lira Paulistana (São Paulo, SP)",Coletiva
3,Individual de Leonilson,1981,https://enciclopedia.itaucultural.org.br/event...,1981,Espanha / Madri / Madri,,Individual
4,Giovane Arte Internazionale,1981,https://enciclopedia.itaucultural.org.br/event...,1981,Itália / Lombardia / Lecco,"Galleria Giuli (Lecco, Itália)",Coletiva
...,...,...,...,...,...,...,...
262,Visions of Brazil: Reimagining Modernity from ...,30/04/2019,https://enciclopedia.itaucultural.org.br/event...,30.04.2019 - 21.06.2019,Estados Unidos / Nova York / Nova York,Blum & Poe,Coletiva
263,A Queda do Céu,08/05/2019,https://enciclopedia.itaucultural.org.br/event...,08.05.2019 - 30.06.2019,Brasil / Distrito Federal / Brasília,Caixa Cultural Brasília,Coletiva
264,À Nordeste,19/05/2019,https://enciclopedia.itaucultural.org.br/event...,19.05.2019 - 25.08.2019,Brasil / São Paulo / São Paulo,SESC 24 de Maio,Coletiva
265,Transbordar: Transgressões do Bordado,26/11/2020,https://enciclopedia.itaucultural.org.br/event...,26.11.2020 - 08.05.2021,Brasil / São Paulo / São Paulo,SESC Pinheiros,Coletiva
266,Língua Solta,31/07/2021,https://enciclopedia.itaucultural.org.br/event...,31.07.2021 - 03.10.2021,Brasil / São Paulo / São Paulo,Museu da Língua Portuguesa,Coletiva

In [8]:
# dataframe_exp.iloc[15]['tipo_evento'] = 'Coletiva'
# dataframe_exp.iloc[11]['tipo_evento'] = 'Coletiva'
# dataframe_exp.iloc[38]['tipo_evento'] = 'Coletiva'
# dataframe_exp.iloc[39]['tipo_evento'] = 'Coletiva'
# dataframe_exp.iloc[44]['tipo_evento'] = 'Coletiva'
# dataframe_exp.iloc[59]['tipo_evento'] = 'Coletiva'
# dataframe_exp.iloc[62]['tipo_evento'] = 'Coletiva'
# dataframe_exp.iloc[65]['tipo_evento'] = 'Coletiva'

In [9]:
# dataframe_exp.iloc[65]['url']

In [10]:
dataframe_exp.to_csv('exposicoes_Leonilson.csv')

# Análise de dados

## Obras

In [11]:
dataframe_obras['year'].value_counts()

1983    10
1990    10
1989     7
1992     7
1987     6
1991     6
1988     4
1993     4
1985     2
1982     1
1986     1
         1
Name: year, dtype: int64

In [12]:
dataframe_obras.loc[dataframe_obras.year=='1989']

,img_url,title,year,info,url
2,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,As Montanhas ao Longe,1989,Aquarela e nanquim sobre papel,https://enciclopedia.itaucultural.org.br//obra...
17,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Leo Não Consegue Mudar o Mundo,1989,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
20,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Longo Caminho de um Rapaz Apaixonado,1989,Tinta preta e ecoline sobre papel,https://enciclopedia.itaucultural.org.br//obra...
36,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,"Possibilidade, Importância, Atitude",1989,Acrílica sobre tela,https://enciclopedia.itaucultural.org.br//obra...
38,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Quelle,1989,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...
40,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Rapaz com a Cabeça Londe Demais para Pensar,1989,Esferográfica e lápis de cor sobre papel,https://enciclopedia.itaucultural.org.br//obra...
58,https://d3swacfcujrr1g.cloudfront.net/img/uplo...,Todos os Rios,1989,Acrílica sobre lona,https://enciclopedia.itaucultural.org.br//obra...

## Exposições

In [13]:
dataframe_exp = pd.DataFrame(exposicoes)
dataframe_exp['len_cidade'] = dataframe_exp['cidade'].apply(lambda x: len(x.split(' / ')))

In [14]:
dataframe_exp.loc[dataframe_exp.len_cidade == 4]

,title,date,url,data_page_datail,cidade,local,tipo_evento,len_cidade
255,Passado/Futuro/Presente: arte contemporânea br...,01/09/2017,https://enciclopedia.itaucultural.org.br/event...,01.09.2017 - 31.12.2017,América do Norte / Estados Unidos / Arizona / ...,Phoenix Art Museum,Exposição,4

In [15]:
dataframe_exp.loc[dataframe_exp.len_cidade == 4, 'cidade'] = dataframe_exp['cidade'].str.replace('América do Norte / ','')

In [16]:
dataframe_exp.loc[dataframe_exp.len_cidade == 4]

,title,date,url,data_page_datail,cidade,local,tipo_evento,len_cidade
255,Passado/Futuro/Presente: arte contemporânea br...,01/09/2017,https://enciclopedia.itaucultural.org.br/event...,01.09.2017 - 31.12.2017,Estados Unidos / Arizona / Phoenix,Phoenix Art Museum,Exposição,4

In [17]:
dataframe_exp.loc[dataframe_exp.len_cidade == 1]

,title,date,url,data_page_datail,cidade,local,tipo_evento,len_cidade
112,Brasilianische Kunst der Gegenwart,26/09/1996,https://enciclopedia.itaucultural.org.br/event...,26.09.1996 - 27.10.1996,"Bayer AG - Foyer Hochhaus W1 (Leverkusen, Alem...",,\n Classificação\n \nExp...,1
114,Brasilianische Kunst der Gegenwart,30/10/1996,https://enciclopedia.itaucultural.org.br/event...,30.10.1996 - 15.11.1996,"Bayer AG - Feierabendhaus (Dormagen, Alemanha)",,\n Classificação\n \nExp...,1

In [18]:
dataframe_exp.iloc[112,dataframe_exp.columns.get_loc('cidade')] = 'Alemanha / - / Leverkusen' 
dataframe_exp.iloc[112,dataframe_exp.columns.get_loc('local')] = 'Bayer AG - Foyer Hochhaus W1'

In [19]:
dataframe_exp.iloc[114,dataframe_exp.columns.get_loc('cidade')] = 'Alemanha / - / Dormagen' 
dataframe_exp.iloc[114,dataframe_exp.columns.get_loc('local')] = 'Bayer AG - Feierabendhaus'

In [20]:
dataframe_exp['cidade'].apply(lambda x: len(x.split(' / '))).value_counts()

3    267
Name: cidade, dtype: int64

In [21]:
dataframe_exp['pais'] = dataframe_exp['cidade'].apply(lambda x: x.split(' / ')[0])
dataframe_exp['estado'] = dataframe_exp['cidade'].apply(lambda x: x.split(' / ')[1])
dataframe_exp['cidade'] = dataframe_exp['cidade'].apply(lambda x: x.split(' / ')[2])

In [22]:
resumo_paises = dataframe_exp['pais'].value_counts().reset_index().iloc[1:]
resumo_paises

             index  pais
1   Estados Unidos    10
2         Alemanha     7
3           França     4
4           Canadá     4
5          Holanda     4
6          Espanha     3
7           Itália     2
8        Argentina     2
9        Venezuela     1
10        Portugal     1
11          Suécia     1
12        Colômbia     1
13          México     1
14           Japão     1

In [23]:
resumo_paises.head()

            index  pais
1  Estados Unidos    10
2        Alemanha     7
3          França     4
4          Canadá     4
5         Holanda     4

In [24]:
resumo_paises.iloc[5:15]

        index  pais
6     Espanha     3
7      Itália     2
8   Argentina     2
9   Venezuela     1
10   Portugal     1
11     Suécia     1
12   Colômbia     1
13     México     1
14      Japão     1

In [25]:
resumo_estado = dataframe_exp.loc[dataframe_exp.pais=='Brasil']['estado'].value_counts().reset_index()
resumo_estado.columns = ['estado','quantidade']
resumo_estado

               estado  quantidade
0           São Paulo         126
1      Rio de Janeiro          47
2    Distrito Federal           9
3              Paraná           9
4               Ceará           8
5        Minas Gerais           7
6   Rio Grande do Sul           7
7      Santa Catarina           4
8      Espírito Santo           3
9               Bahia           2
10         Pernambuco           2
11              Goiás           1

In [26]:
resumo_estado.iloc[5:12]['quantidade'].sum()

26

In [27]:
resumo_estado.iloc[0:5]['quantidade'].sum()

199

In [28]:
dataframe_exp.loc[dataframe_exp.pais=='Brasil']['cidade'].value_counts().reset_index()

              index  cidade
0        São Paulo      116
1   Rio de Janeiro       41
2         Curitiba        9
3         Brasília        8
4        Fortaleza        6
5   Belo Horizonte        6
6     Porto Alegre        6
7    Florianópolis        4
8          Niterói        4
9          Vitória        3
10        São Paulo       3
11  Ribeirão Preto        3
12   Rio de Janeiro       2
13        Fortaleza       2
14          Recife        2
15        Salvador        2
16     Porto Alegre       1
17   Belo Horizonte       1
18     Santo André        1
19       Americana        1
20      Piracicaba        1
21        Campinas        1
22         Goiânia        1
23         Brasília       1

In [29]:
dataframe_exp['len_date'] = dataframe_exp['date'].apply(lambda x: len(x))

In [30]:
dataframe_exp['len_date'].value_counts()

10    198
4      58
7      11
Name: len_date, dtype: int64

In [31]:
dataframe_exp.loc[dataframe_exp['len_date']==4].head(2)

,title,date,url,data_page_datail,cidade,local,tipo_evento,len_cidade,pais,estado,len_date
2,Leonilson e Luiz Zerbini,1980,https://enciclopedia.itaucultural.org.br/event...,1980,São Paulo,"Teatro Lira Paulistana (São Paulo, SP)",Coletiva,3,Brasil,São Paulo,4
3,Individual de Leonilson,1981,https://enciclopedia.itaucultural.org.br/event...,1981,Madri,,Individual,3,Espanha,Madri,4

In [32]:
dataframe_exp.loc[dataframe_exp['len_date']==7].head(2)

,title,date,url,data_page_datail,cidade,local,tipo_evento,len_cidade,pais,estado,len_date
17,Coleção Gilberto Chateaubriand: retrato e auto...,05/1984,https://enciclopedia.itaucultural.org.br/event...,05.1984 - 06.1984,São Paulo,Museu de Arte Moderna de São Paulo (MAM/SP),Coletiva,3,Brasil,São Paulo,7
33,1ª Exposição Internacional de Esculturas Efêmeras,09/1986,https://enciclopedia.itaucultural.org.br/event...,09.1986 - 11.1986,Fortaleza,,Coletiva,3,Brasil,Ceará,7

In [33]:
dataframe_exp['year'] = dataframe_exp['date'].apply(lambda x: x[-4:])

In [34]:
dataframe_exp.filter(['year','date'])

     year        date
0    1980  08/07/1980
1    1980  13/11/1980
2    1980        1980
3    1981        1981
4    1981        1981
..    ...         ...
262  2019  30/04/2019
263  2019  08/05/2019
264  2019  19/05/2019
265  2020  26/11/2020
266  2021  31/07/2021

[267 rows x 2 columns]

In [35]:
resumo_ano = dataframe_exp['year'].value_counts().reset_index()
resumo_ano.columns = ['ano','qtd']
resumo_ano = resumo_ano.sort_values(by='ano')
resumo_ano['cumulativo'] = resumo_ano['qtd'].cumsum()
resumo_ano

     ano  qtd  cumulativo
34  1980    3           3
35  1981    3           6
39  1982    1           7
6   1983    9          16
18  1984    7          23
16  1985    7          30
20  1986    7          37
23  1987    6          43
8   1988    9          52
14  1989    7          59
26  1990    5          64
15  1991    7          71
5   1992   10          81
2   1993   13          94
12  1994    8         102
7   1995    9         111
19  1996    7         118
3   1997   13         131
1   1998   14         145
37  1999    1         146
13  2000    8         154
9   2001    8         162
4   2002   11         173
0   2003   16         189
27  2004    5         194
22  2005    6         200
32  2006    4         204
33  2007    3         207
17  2008    7         214
10  2009    8         222
30  2010    4         226
11  2011    8         234
41  2012    1         235
29  2013    4         239
21  2014    6         245
31  2015    4         249
36  2016    2         251
25  2017    5         256
24  2018    5         261
28  2019    4         265
38  2020    1         266
40  2021    1         267

In [36]:
resumo_ano.to_csv('resumo_ano.csv')

In [37]:
dataframe_exp.loc[dataframe_exp.pais == 'Brasil', 'Categoria'] = 'Brasil'
dataframe_exp.loc[dataframe_exp.pais != 'Brasil', 'Categoria'] = 'Exterior'

In [38]:
dataframe_exp['Categoria'].value_counts()

Brasil      225
Exterior     42
Name: Categoria, dtype: int64

In [39]:
resumo_ano_cat = dataframe_exp.groupby(['year','Categoria']).size().reset_index().pivot(index='year', columns='Categoria', values=0).fillna(0)
resumo_ano_cat = resumo_ano_cat.reset_index().astype({'Brasil':'int64', 'Exterior': 'int64'})
resumo_ano_cat['total'] = resumo_ano_cat['Brasil']+ resumo_ano_cat['Exterior']


resumo_ano_cat['cumsum_Brasil'] = resumo_ano_cat['Brasil'].cumsum()
resumo_ano_cat['cumsum_Exterior'] = resumo_ano_cat['Exterior'].cumsum()
resumo_ano_cat['cumsum_total'] = resumo_ano_cat['total'].cumsum()

resumo_ano_cat.to_csv('resumo_ano_tipo.csv', index=False)
resumo_ano_cat

Categoria,year,Brasil,Exterior,total,cumsum_Brasil,cumsum_Exterior,cumsum_total
0,1980,3,0,3,3,0,3
1,1981,0,3,3,3,3,6
2,1982,0,1,1,3,4,7
3,1983,9,0,9,12,4,16
4,1984,6,1,7,18,5,23
5,1985,6,1,7,24,6,30
6,1986,6,1,7,30,7,37
7,1987,3,3,6,33,10,43
8,1988,5,4,9,38,14,52
9,1989,6,1,7,44,15,59
10,1990,4,1,5,48,16,64
11,1991,5,2,7,53,18,71
12,1992,9,1,10,62,19,81
13,1993,7,6,13,69,25,94
14,1994,7,1,8,76,26,102
15,1995,6,3,9,82,29,111
16,1996,4,3,7,86,32,118
17,1997,12,1,13,98,33,131
18,1998,13,1,14,111,34,145
19,1999,1,0,1,112,34,146
20,2000,7,1,8,119,35,154
21,2001,7,1,8,126,36,162
22,2002,10,1,11,136,37,173
23,2003,16,0,16,152,37,189
24,2004,5,0,5,157,37,194
25,2005,6,0,6,163,37,200
26,2006,4,0,4,167,37,204
27,2007,3,0,3,170,37,207
28,2008,6,1,7,176,38,214
29,2009,7,1,8,183,39,222
30,2010,4,0,4,187,39,226
31,2011,8,0,8,195,39,234
32,2012,1,0,1,196,39,235
33,2013,4,0,4,200,39,239
34,2014,5,1,6,205,40,245
35,2015,4,0,4,209,40,249
36,2016,2,0,2,211,40,251
37,2017,4,1,5,215,41,256
38,2018,5,0,5,220,41,261
39,2019,3,1,4,223,42,265
40,2020,1,0,1,224,42,266
41,2021,1,0,1,225,42,267